mixin transfer
	a(name="anchor-transfer")
	+b.transfer&attributes(attributes)
		.container
			+e('h2').title.title-2
				| Трансфер
			+e.desc
				strong
					+icon('transfer-b')
					| Для участников Дня открытых дверей будет организован комфортабельный трансфер от метро.
				br
				| (Подробности будут сообщаться дополнительно)
