mixin super-banner-carousel
	.super-banner-carousel&attributes(attributes)
		.owl-carousel.js-super-banner-carousel
			.super-banner-carousel__item
				a(href="#anchor-about")
					.owl-lazy(data-src="assets/images/b-1.png")
