.super-banner-carousel
	background #297FB8 url(../images/super-banner-carousel-bg.jpg) 50% 50% repeat

	&__item
		a
			display block

		img
			display block

		.owl-lazy
			height 400px
			background-position 50% 50%

	.owl-dots
		text-align center
		position absolute
		bottom 20px
		left 0
		width 100%

	.owl-dot
		display inline-block
		cursor pointer
		user-select none

		&.active
			span
				background-color #fff

		span
			display inline-block
			background-color rgba(255, 255, 255, 0.5)
			width 20px
			height 20px
			margin 10px
			border-radius 50%
