.about
	padding-top 55px
	padding-bottom 60px
	text-align center

	&__closed
		font-size 26px
		margin-bottom 35px

	&__date
		color #9b9b9b
		font-size 21px
		margin-bottom 10px

	&__title
		font-size 35px
		margin-top 0
		margin-bottom 30px

	&__desc
		font-size 16px
		margin-bottom 35px

	&__intro
		font-weight bold

	.organizers
		margin-bottom 45px

		&__label
			color #9b9b9b
			font-size 14px
			vertical-align middle
			font-weight bold
			margin-right 15px
			display inline-block

		&__list
			vertical-align middle
			display inline-block

		&__list-item
			+ .organizers__list-item
				margin-left 20px

			img
				display inline-block
				vertical-align top

	.register-alert
		margin-top 15px
