include ../register-btn/register-btn

mixin about
	a(name="anchor-about")
	+b.about&attributes(attributes)
		.container

			+e.closed
				| Регистрация на мероприятие закрыта

			+e.date
				| 25 февраля 2016 г.

			+e('h2').title
				| День открытых дверей
				br
				| Логистического почтового центра <strong>«ВНУКОВО»</strong>

			+e.desc
				+e('p').intro
					| Ассоциация Компаний Интернет Торговли устраивает экскурсию для представителей российского eCommerce на
					br
					| логистический терминал Почты России с целью узнать как сейчас работает Почта изнутри и убедиться каких
					br
					| достижений удалось достичь за последние несколько лет.
				p
					| Представители Почты России расскажут об итогах модернизации всего комплекса почтовой инфраструктуры и
					br
					| проведут экскурсию по самому крупному логистическому центру в Восточной Европе.

			+b.organizers
				+e('strong').label
					| Организаторы:
				+e('span').list
					+e('span').list-item
						+icon('about-p-akit')
					+e('span').list-item
						+icon('about-p-rp')
					+e('a')(href="http://www.cmonday.ru/").list-item
						+icon('about-p-cymo')

			+register-btn()

			.register-alert
				| Регистрация участников до <strong>19 февраля</strong> 2016 г.
