body
	font-family ptsans
	color #000
	min-width 1000px

+above(992px)
	.row-main
		> .col-md-3
			width 20%
		> .col-md-9
			width 80%

.title-2
	text-align center
	font-size 35px
	color #000
	margin 0 0 45px

a
	color #2980b9
