.program
	background-color #2F3239
	background url(../images/discussions-bg.png) 50% 0 repeat
	padding-top 70px
	padding-bottom 70px

	&__title
		color #fff
		margin-bottom 47px

	&__list
		clearfix()
		margin 0
		padding 0
		list-style-type none

	&__list-item
		font-size 18px
		margin-bottom 7px
		position relative
		width 25%
		float left
		padding-right 10px
		padding-left 35px

		.icon
			position absolute
			top 3px
			left 0

	&__table
		td
			{}

	&__time
		color #fff
		font-weight bold
		font-size 22px
		white-space nowrap
		width 1%
		padding-right 10px

	&__arrow
		background url(../images/arrow.png) 100% 50% no-repeat

	&__desc
		padding-top 7px
		font-size 17px
		line-height 1.6
		color #d3d6de
