include ../register-btn/register-btn

mixin program
	a(name="anchor-program")
	+b.program&attributes(attributes)
		.container
			+e('h2').title.title-2
				| Программа встречи

			+e('ul').list
				+e('li').list-item
					+icon('time-1')
					+e('table').table
						tbody
							tr
								+e('td').time
									| 13:30
								+e('td').arrow
							tr
								+e('td')(colspan="2").desc
									| Трансфер от метро до ЛПЦ
				+e('li').list-item
					+icon('time-2')
					+e('table').table
						tbody
							tr
								+e('td').time
									| 14:30 — 15:30
								+e('td').arrow
							tr
								+e('td')(colspan="2").desc
									| Встреча участников с руководством Почты России и Логистического почтового центра «ВНУКОВО».
				+e('li').list-item
					+icon('time-3')
					+e('table').table
						tbody
							tr
								+e('td').time
									| 15:30 — 17:00
								+e('td').arrow
							tr
								+e('td')(colspan="2").desc
									| Экскурсия
				+e('li').list-item
					+icon('time-4')
					+e('table').table
						tbody
							tr
								+e('td').time
									| 17:15
								+e('td')
							tr
								+e('td')(colspan="2").desc
									| Трансфер от ЛПЦ до Метро
