include ../super-banner-carousel/super-banner-carousel
include ../about/about
include ../program/program
include ../address/address
include ../transfer/transfer
include ../about-center/about-center

mixin index()
	.index
		+super-banner-carousel()
		+about()
		+program()
		+address()
		+transfer()
		+about-center()
