.content-container
	padding-top 30px
	padding-bottom 30px

.container
	width 984px


@media (min-width: 1200px)
	.container
		width 984px

@media (min-width: 992px)
	.container
		width 984px

@media (min-width: 768px)
	.container
		width 984px
