- var pageScripts = pageScripts || [[], [], []];

include ../../../node_modules/bemto.jade/bemto.jade
include ../header/header
include ../footer/footer
include ../scripts/scripts

+script([], [
	'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js',
	'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js',
	'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js',
	'app.min.js'
])

doctype html
html(lang='ru')
	include ../head/head
	body
		+header()

		block content

		+footer()

		+scripts()
		script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHjP0vatACtGW6MAlgYs1k--veRDd3DCk&callback=initMap")
