include ../register-btn/register-btn

mixin about-center
	a(name="anchor-about-center")
	+b.about-center&attributes(attributes)
		.container
			+e('h2').title.title-2
				| Логистический почтовый центр «Внуково»

			+e.intro
				p
					strong
						| Крупнейший логистический центр «Почты России» и самый крупный логистический центр в
						br
						| Восточной Европе.

				p
					| Первый в стране объект, в котором таможенное и почтовое оформление международных почтовых отправлений совмещено с их автоматизированной сортировкой по направлению доставки.

			img(src="assets/images/photos/photo-1.jpg")

			p
				| Проект уникален не только для России, но и для международного почтового обмена как по
				br
				| технологиям, использующимся для обработки почты, так и по срокам реализации: от момента
				br
				| принятия решения о необходимости новых производственных мощностей до запуска в эксплуатацию
				br
				| проекта прошло всего шесть месяцев.

			.row
				.col-xs-6
					img(src="assets/images/photos/photo-2.jpg")
					p
						| В рамках программы модернизации логистической инфраструктуры в 2014 году была выведена на полную мощность первая очередь логистического центра во Внуково, расширены региональные обрабатывающие мощности, что позволило существенно сократить сроки обработки и доставки почты из-за рубежа.
				.col-xs-6
					img(src="assets/images/photos/photo-3.jpg")
					p
						| Благодаря тому, что потоки международных посылок были разделены по регионам, значительный объем стал идти через Новосибирск, Екатеринбург и Артем, что позволило, с одной стороны, снизить сроки доставки, а с другой — перераспределить проходящие через аэропорты московского авиационного узла международные отправления.

			p
				strong
					| Центр начал свою работу в ноябре 2013 года, зона его обслуживания включает все субъекты
					br
					| Российской Федерации. Общая площадь Центра составляет 60 000 м2.

			+register-btn()

			.register-alert
				| Регистрация участников до <strong>19 февраля</strong> 2016 г.
