.about-center
	padding 65px 0 60px
	text-align center

	.col-xs-6
		text-align left

	p
		margin-bottom 50px
		font-size 17px

	&__intro
		font-size 18px
		margin-bottom 50px

		p
			margin-bottom 25px

	img
		display block
		margin-bottom 50px

	.register-alert
		margin-top 18px
		font-size 15px
