include ../blocks/index/index

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'День открытых дверей Логистического почтового центра «ВНУКОВО»';

block content
	+index()
