include ../simple-menu/simple-menu
include ../icon/icon

mixin header()
	.container
		.header
			.row
				.col-xs-5
					+icon('logo').header__logo
					p.header__about
						| День открытых дверей
						br
						strong
							| Логистического почтового центра
						br
						strong
							| «ВНУКОВО»
				.col-xs-7
					+simple-menu(getData('headerMenu')).header__menu
