.header
	padding 20px 0

	&__logo
		display inline-block
		vertical-align top

	&__about
		display inline-block
		vertical-align top
		margin -4px 0 0 10px
		font-size 16px
		color #000
		line-height 1.4

		strong
			{}

	&__menu
		text-align right
		font-size 16px

		&.simple-menu
			margin-bottom -30px

		.simple-menu
			&__item
				display inline-block
				vertical-align top

			&__link
				display block
				padding 22px 10px
				line-height 1
