mixin address
	a(name="anchor-address")
	+b.address&attributes(attributes)
		.container
			+e('h2').title.title-2
				| Адрес
			+e.text
				+icon('address-b')
				| Москва, д. Шарапово

		+e.map#map(style="height:332px")
