include ../icon/icon

mixin footer()
	.footer
		+b.organizers.footer__organizers
			+e('span').list
				+e('span').list-item
					+icon('footer-p-akit')
				+e('span').list-item
					+icon('footer-p-rp')
				+e('a')(href="http://www.cmonday.ru/").list-item
					+icon('footer-p-cymo')
		.footer__copy
			| © 2016 День открытых дверей&nbsp;
			strong
				| Логистического почтового центра «ВНУКОВО»
