.footer
	padding 30px 0 25px
	background-color #f7f7f9

	.organizers
		text-align center
		margin-bottom 20px

		&__list
			vertical-align middle
			display inline-block

		&__list-item
			+ .organizers__list-item
				margin-left 35px

			img
				display inline-block
				vertical-align middle

	&__copy
		text-align center
		color #aaa
		font-size 14px
